<div class="w-75 h-100 m-auto mt-5 justify-content-center align-items-center">
  <div class="content-block px-5 py-4 d-flex">
    <div class="d-grid text-center">
      <h3 class="text-primary mb-4">INFORMAÇÕES</h3>
      <span class="text-secondary">
        Atualmente, resido em <strong>Boituva-SP</strong>. Em agosto de 2024, concluí minha formação
        em <strong>Análise e Desenvolvimento de Sistemas</strong> na
        <a href="https://facens.br/a-facens/institucional" target="_blank">Facens</a>. No momento,
        estou trabalhando na área de <strong>Planejamento Estratégico</strong> no
        <a href="https://www.grupopetropolis.com.br" target="_blank">Grupo Petrópolis</a>, onde sou
        responsável por desenvolver dashboards e automações. Tenho o hábito de criar projetos
        individuais que impulsionam meu aprimoramento prático dos conhecimentos adquiridos. Alguns
        desses projetos estão disponíveis em meu perfil no
        <a href="https://github.com/rafael-mj" target="_blank">GitHub</a>.
      </span>
    </div>
  </div>
</div>
